.title {
  background-color: #fff;
  margin-bottom: 10px;
  text-align: center;
  padding: 40px;
  border-top: 10px solid; }
  .title.blue {
    border-color: #2196F3; }
    .title.blue h1 {
      color: #22f; }
  .title.red {
    border-color: #d32220; }
    .title.red h1 {
      color: #d22; }
  .title.indigo {
    border-color: #3f51b5; }
    .title.indigo h1 {
      color: #42d; }
  .title.orange {
    border-color: #f54622; }
    .title.orange h1 {
      color: #f62; }
  .title.green {
    border-color: #22cc3f; }
    .title.green h1 {
      color: #0a2; }
  .title.teal {
    border-color: #009688; }
    .title.teal h1 {
      color: #0a9; }
  .title.purple {
    border-color: #9c27b0; }
    .title.purple h1 {
      color: #92b; }
  .title.deep-purple {
    border-color: #673ab7; }
    .title.deep-purple h1 {
      color: #74b; }
  .title h1 {
    margin-top: 0;
    font-size: 42px; }
  .title p {
    font-size: 16px; }

.listbook .content {
  background-color: #fff;
  margin-right: -15px;
  padding: 15px;
  padding-top: 1px;
  min-height: 1790px; }
  .listbook .content .breadcrumb {
    margin-top: 14px; }
  .listbook .content .search-box {
    width: 100%;
    background-color: #f5f5f5;
    padding: 8px 0;
    border-radius: 4px;
    margin-bottom: 20px; }
    .listbook .content .search-box .form-horizontal .group {
      padding-top: 5px;
      padding-bottom: 5px; }
      .listbook .content .search-box .form-horizontal .group.category {
        padding-right: 10px; }
        .listbook .content .search-box .form-horizontal .group.category .item-group {
          padding-left: 0;
          padding-right: 0;
          margin-left: -5px; }
          .listbook .content .search-box .form-horizontal .group.category .item-group .item {
            float: left;
            min-width: 90px;
            padding: 5px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            color: #fff;
            font-size: 14px;
            text-align: center;
            background-color: #00e;
            border-radius: 5px;
            cursor: pointer; }
            .listbook .content .search-box .form-horizontal .group.category .item-group .item:hover {
              background-color: #24f; }
            .listbook .content .search-box .form-horizontal .group.category .item-group .item.select {
              background-color: #d42; }
    .listbook .content .search-box .form-horizontal .submit .group {
      padding-top: 15px; }
      .listbook .content .search-box .form-horizontal .submit .group button {
        box-shadow: unset; }
        .listbook .content .search-box .form-horizontal .submit .group button.btn-search {
          background-color: #d93330;
          border-color: #d93330;
          color: #fff; }
          .listbook .content .search-box .form-horizontal .submit .group button.btn-search:hover, .listbook .content .search-box .form-horizontal .submit .group button.btn-search:focus {
            background-color: #ee3f3a;
            border-color: #d9302c; }
        .listbook .content .search-box .form-horizontal .submit .group button.btn-reset {
          background-color: #f8f8f8;
          border-color: #d5d5d5;
          color: #222; }
          .listbook .content .search-box .form-horizontal .submit .group button.btn-reset:hover, .listbook .content .search-box .form-horizontal .submit .group button.btn-reset:focus {
            background-color: #fefefe;
            border-color: #e5e5e5; }
    .listbook .content .search-box .form-horizontal button.select {
      text-align: left; }
      .listbook .content .search-box .form-horizontal button.select .text {
        max-width: 72px;
        height: 20px;
        overflow: hidden;
        float: left; }
      .listbook .content .search-box .form-horizontal button.select span {
        margin-top: 8px;
        float: right; }
    .listbook .content .search-box .form-horizontal .dropdown-menu {
      left: 15px;
      padding: 5px 0; }
      .listbook .content .search-box .form-horizontal .dropdown-menu li {
        padding-left: 12px;
        padding-right: 12px; }
        .listbook .content .search-box .form-horizontal .dropdown-menu li:hover, .listbook .content .search-box .form-horizontal .dropdown-menu li:focus {
          background-color: #55f;
          color: #fff; }
  .listbook .content .result {
    background-color: #f5f5f5;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 14px;
    color: #777; }
  .listbook .content .list h3 {
    text-align: center; }
    .listbook .content .list h3.green {
      color: #0a2; }
  .listbook .content .list .book {
    margin-top: 15px;
    position: relative; }
    .listbook .content .list .book img {
      float: left; }
    .listbook .content .list .book .rank {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 35px;
      height: 35px;
      padding: 6px 0;
      font-weight: 600;
      color: #fff;
      text-align: center;
      border-radius: 20px; }
      .listbook .content .list .book .rank.bg-red {
        background-color: #d00; }
      .listbook .content .list .book .rank.bg-blue {
        background-color: #00d; }
      .listbook .content .list .book .rank.bg-green {
        background-color: #0a0; }
      .listbook .content .list .book .rank.bg-orange {
        background-color: #d80; }
      .listbook .content .list .book .rank.bg-gray {
        background-color: #444; }
    .listbook .content .list .book .info {
      float: left;
      padding: 0 10px;
      width: 672px; }
      .listbook .content .list .book .info h4 {
        margin-top: 0;
        margin-bottom: 5px; }
      .listbook .content .list .book .info .star {
        color: #0a0; }
        .listbook .content .list .book .info .star .rate {
          margin-left: 20px; }
      .listbook .content .list .book .info .group .item {
        float: left;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 75px; }
        .listbook .content .list .book .info .group .item span.glyphicon {
          color: #fff; }
      .listbook .content .list .book .info .group .red span.glyphicon, .listbook .content .list .book .info .group .blue span.glyphicon, .listbook .content .list .book .info .group .orange span.glyphicon, .listbook .content .list .book .info .group .green span.glyphicon {
        padding: 5px;
        border-radius: 12px; }
      .listbook .content .list .book .info .group .red span.glyphicon {
        background-color: #d00; }
      .listbook .content .list .book .info .group .blue span.glyphicon {
        background-color: #00d; }
      .listbook .content .list .book .info .group .orange span.glyphicon {
        background-color: #f62; }
      .listbook .content .list .book .info .group .green span.glyphicon {
        background-color: #0b2; }
      .listbook .content .list .book .info .date, .listbook .content .list .book .info .category, .listbook .content .list .book .info .sum-chap {
        padding-top: 5px;
        padding-bottom: 5px; }
      .listbook .content .list .book .info .view, .listbook .content .list .book .info .comment, .listbook .content .list .book .info .rate {
        width: 400px; }
        .listbook .content .list .book .info .view .day, .listbook .content .list .book .info .view .week, .listbook .content .list .book .info .view .month, .listbook .content .list .book .info .view .page, .listbook .content .list .book .info .view .chap, .listbook .content .list .book .info .view .reply, .listbook .content .list .book .info .view .perfect, .listbook .content .list .book .info .view .good, .listbook .content .list .book .info .view .normal, .listbook .content .list .book .info .view .all, .listbook .content .list .book .info .comment .day, .listbook .content .list .book .info .comment .week, .listbook .content .list .book .info .comment .month, .listbook .content .list .book .info .comment .page, .listbook .content .list .book .info .comment .chap, .listbook .content .list .book .info .comment .reply, .listbook .content .list .book .info .comment .perfect, .listbook .content .list .book .info .comment .good, .listbook .content .list .book .info .comment .normal, .listbook .content .list .book .info .comment .all, .listbook .content .list .book .info .rate .day, .listbook .content .list .book .info .rate .week, .listbook .content .list .book .info .rate .month, .listbook .content .list .book .info .rate .page, .listbook .content .list .book .info .rate .chap, .listbook .content .list .book .info .rate .reply, .listbook .content .list .book .info .rate .perfect, .listbook .content .list .book .info .rate .good, .listbook .content .list .book .info .rate .normal, .listbook .content .list .book .info .rate .all {
          width: 200px;
          float: left; }
      .listbook .content .list .book .info .chap .time {
        display: inline-block;
        color: #aaa; }
      .listbook .content .list .book .info .btn.unfollow {
        margin-top: 5px;
        background-color: #e32220;
        color: #fff; }
        .listbook .content .list .book .info .btn.unfollow:hover {
          background-color: #f32220;
          color: #fff; }
    .listbook .content .list .book .option {
      position: absolute;
      top: 40px;
      right: 15px;
      font-size: 18px;
      color: #ddd; }
      .listbook .content .list .book .option span {
        display: none;
        padding: 5px 10px; }
      .listbook .content .list .book .option .dropdown-menu a {
        width: 160px;
        white-space: normal; }
  .listbook .content .paging {
    text-align: center;
    margin-top: 15px; }

@media (min-width: 1370px) {
  .listbook .content .list .book .info {
    width: 800px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .listbook .content .list .book .info {
    width: 520px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .listbook .content {
    margin-right: 0; }
    .listbook .content .list .book .info {
      width: 520px; }
    .listbook .content .search-box .form-horizontal .line .header, .listbook .content .search-box .form-horizontal .line .body {
      display: none; } }
@media (min-width: 576px) and (max-width: 767px) {
  .listbook .content {
    margin-right: 0; }
    .listbook .content .list .book img {
      width: 120px;
      height: 120px; }
    .listbook .content .list .book .info {
      width: 360px; }
      .listbook .content .list .book .info .star {
        display: none; }
      .listbook .content .list .book .info .group {
        display: none; } }
@media (max-width: 575px) {
  .listbook .content {
    margin-right: 0; }
    .listbook .content .list .book img {
      width: 100px;
      height: 100px; }
    .listbook .content .list .book .info {
      width: 200px; }
      .listbook .content .list .book .info .star {
        display: none; }
      .listbook .content .list .book .info .group {
        display: none; }
      .listbook .content .list .book .info .book-content {
        display: none; }
      .listbook .content .list .book .info .view, .listbook .content .list .book .info .comment, .listbook .content .list .book .info .rate {
        width: 180px; }
        .listbook .content .list .book .info .view .day, .listbook .content .list .book .info .view .week, .listbook .content .list .book .info .view .month, .listbook .content .list .book .info .view .page, .listbook .content .list .book .info .view .chap, .listbook .content .list .book .info .view .reply, .listbook .content .list .book .info .view .perfect, .listbook .content .list .book .info .view .good, .listbook .content .list .book .info .view .normal, .listbook .content .list .book .info .view .all, .listbook .content .list .book .info .comment .day, .listbook .content .list .book .info .comment .week, .listbook .content .list .book .info .comment .month, .listbook .content .list .book .info .comment .page, .listbook .content .list .book .info .comment .chap, .listbook .content .list .book .info .comment .reply, .listbook .content .list .book .info .comment .perfect, .listbook .content .list .book .info .comment .good, .listbook .content .list .book .info .comment .normal, .listbook .content .list .book .info .comment .all, .listbook .content .list .book .info .rate .day, .listbook .content .list .book .info .rate .week, .listbook .content .list .book .info .rate .month, .listbook .content .list .book .info .rate .page, .listbook .content .list .book .info .rate .chap, .listbook .content .list .book .info .rate .reply, .listbook .content .list .book .info .rate .perfect, .listbook .content .list .book .info .rate .good, .listbook .content .list .book .info .rate .normal, .listbook .content .list .book .info .rate .all {
          width: 180px; }
  .listbook.comment .content .list .book .info .type, .listbook.rate .content .list .book .info .type, .listbook.view .content .list .book .info .type {
    display: none; } }

/*# sourceMappingURL=list.css.map */
