.box .box-body img {
  float: left; }
.box .box-body .box-info {
  margin-left: 170px; }
.box .box-body form input.input-new-chap {
  width: 250px; }
.box .box-body .height-fixed {
  min-height: 419px; }
.box#box-book-list .box-body table tr th.fixed-115, .box#box-book-list-error .box-body table tr th.fixed-115, .box#box-chap-list-error .box-body table tr th.fixed-115 {
  min-width: 115px; }
.box#box-book-list-small .box-body table tr {
  cursor: pointer; }
.box.chap-new .box-body .image-group, .box.chap-edit .box-body .image-group {
  border: solid 1px #d2d6de;
  height: 310px;
  margin-bottom: 10px;
  text-align: left;
  overflow-y: scroll; }
  .box.chap-new .box-body .image-group img, .box.chap-edit .box-body .image-group img {
    width: 190px;
    padding: 8px;
    cursor: pointer;
    float: none; }
    .box.chap-new .box-body .image-group img:hover, .box.chap-edit .box-body .image-group img:hover {
      filter: brightness(0.8); }
.box.book-edit .box-body .avatar, .box.book-new .box-body .avatar, .box.book-edit-approved .box-body .avatar, .box.author-new .box-body .avatar, .box.author-edit .box-body .avatar, .box.character-new .box-body .avatar, .box.character-edit .box-body .avatar {
  width: 150px;
  float: left;
  text-align: center; }
  .box.book-edit .box-body .avatar button, .box.book-new .box-body .avatar button, .box.book-edit-approved .box-body .avatar button, .box.author-new .box-body .avatar button, .box.author-edit .box-body .avatar button, .box.character-new .box-body .avatar button, .box.character-edit .box-body .avatar button {
    margin-top: 10px; }
  .box.book-edit .box-body .avatar .btn, .box.book-new .box-body .avatar .btn, .box.book-edit-approved .box-body .avatar .btn, .box.author-new .box-body .avatar .btn, .box.author-edit .box-body .avatar .btn, .box.character-new .box-body .avatar .btn, .box.character-edit .box-body .avatar .btn {
    margin-top: 10px; }
    .box.book-edit .box-body .avatar .btn input[type="file"], .box.book-new .box-body .avatar .btn input[type="file"], .box.book-edit-approved .box-body .avatar .btn input[type="file"], .box.author-new .box-body .avatar .btn input[type="file"], .box.author-edit .box-body .avatar .btn input[type="file"], .box.character-new .box-body .avatar .btn input[type="file"], .box.character-edit .box-body .avatar .btn input[type="file"] {
      display: none; }
.box.book-edit .box-body .box-edit, .box.book-edit .box-body .box-new, .box.book-new .box-body .box-edit, .box.book-new .box-body .box-new, .box.book-edit-approved .box-body .box-edit, .box.book-edit-approved .box-body .box-new, .box.author-new .box-body .box-edit, .box.author-new .box-body .box-new, .box.author-edit .box-body .box-edit, .box.author-edit .box-body .box-new, .box.character-new .box-body .box-edit, .box.character-new .box-body .box-new, .box.character-edit .box-body .box-edit, .box.character-edit .box-body .box-new {
  margin-left: 170px; }
  .box.book-edit .box-body .box-edit .form-group span.label, .box.book-edit .box-body .box-new .form-group span.label, .box.book-new .box-body .box-edit .form-group span.label, .box.book-new .box-body .box-new .form-group span.label, .box.book-edit-approved .box-body .box-edit .form-group span.label, .box.book-edit-approved .box-body .box-new .form-group span.label, .box.author-new .box-body .box-edit .form-group span.label, .box.author-new .box-body .box-new .form-group span.label, .box.author-edit .box-body .box-edit .form-group span.label, .box.author-edit .box-body .box-new .form-group span.label, .box.character-new .box-body .box-edit .form-group span.label, .box.character-new .box-body .box-new .form-group span.label, .box.character-edit .box-body .box-edit .form-group span.label, .box.character-edit .box-body .box-new .form-group span.label {
    cursor: pointer;
    font-size: 12px;
    line-height: 2; }
  .box.book-edit .box-body .box-edit .form-group input.date, .box.book-edit .box-body .box-new .form-group input.date, .box.book-new .box-body .box-edit .form-group input.date, .box.book-new .box-body .box-new .form-group input.date, .box.book-edit-approved .box-body .box-edit .form-group input.date, .box.book-edit-approved .box-body .box-new .form-group input.date, .box.author-new .box-body .box-edit .form-group input.date, .box.author-new .box-body .box-new .form-group input.date, .box.author-edit .box-body .box-edit .form-group input.date, .box.author-edit .box-body .box-new .form-group input.date, .box.character-new .box-body .box-edit .form-group input.date, .box.character-new .box-body .box-new .form-group input.date, .box.character-edit .box-body .box-edit .form-group input.date, .box.character-edit .box-body .box-new .form-group input.date {
    width: 60px;
    display: inline-block; }
  .box.book-edit .box-body .box-edit .form-group .list-character, .box.book-edit .box-body .box-new .form-group .list-character, .box.book-new .box-body .box-edit .form-group .list-character, .box.book-new .box-body .box-new .form-group .list-character, .box.book-edit-approved .box-body .box-edit .form-group .list-character, .box.book-edit-approved .box-body .box-new .form-group .list-character, .box.author-new .box-body .box-edit .form-group .list-character, .box.author-new .box-body .box-new .form-group .list-character, .box.author-edit .box-body .box-edit .form-group .list-character, .box.author-edit .box-body .box-new .form-group .list-character, .box.character-new .box-body .box-edit .form-group .list-character, .box.character-new .box-body .box-new .form-group .list-character, .box.character-edit .box-body .box-edit .form-group .list-character, .box.character-edit .box-body .box-new .form-group .list-character {
    margin-bottom: 10px; }
    .box.book-edit .box-body .box-edit .form-group .list-character.hide, .box.book-edit .box-body .box-new .form-group .list-character.hide, .box.book-new .box-body .box-edit .form-group .list-character.hide, .box.book-new .box-body .box-new .form-group .list-character.hide, .box.book-edit-approved .box-body .box-edit .form-group .list-character.hide, .box.book-edit-approved .box-body .box-new .form-group .list-character.hide, .box.author-new .box-body .box-edit .form-group .list-character.hide, .box.author-new .box-body .box-new .form-group .list-character.hide, .box.author-edit .box-body .box-edit .form-group .list-character.hide, .box.author-edit .box-body .box-new .form-group .list-character.hide, .box.character-new .box-body .box-edit .form-group .list-character.hide, .box.character-new .box-body .box-new .form-group .list-character.hide, .box.character-edit .box-body .box-edit .form-group .list-character.hide, .box.character-edit .box-body .box-new .form-group .list-character.hide {
      display: none; }
    .box.book-edit .box-body .box-edit .form-group .list-character span.character, .box.book-edit .box-body .box-new .form-group .list-character span.character, .box.book-new .box-body .box-edit .form-group .list-character span.character, .box.book-new .box-body .box-new .form-group .list-character span.character, .box.book-edit-approved .box-body .box-edit .form-group .list-character span.character, .box.book-edit-approved .box-body .box-new .form-group .list-character span.character, .box.author-new .box-body .box-edit .form-group .list-character span.character, .box.author-new .box-body .box-new .form-group .list-character span.character, .box.author-edit .box-body .box-edit .form-group .list-character span.character, .box.author-edit .box-body .box-new .form-group .list-character span.character, .box.character-new .box-body .box-edit .form-group .list-character span.character, .box.character-new .box-body .box-new .form-group .list-character span.character, .box.character-edit .box-body .box-edit .form-group .list-character span.character, .box.character-edit .box-body .box-new .form-group .list-character span.character {
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 5px; }
      .box.book-edit .box-body .box-edit .form-group .list-character span.character i.fa, .box.book-edit .box-body .box-new .form-group .list-character span.character i.fa, .box.book-new .box-body .box-edit .form-group .list-character span.character i.fa, .box.book-new .box-body .box-new .form-group .list-character span.character i.fa, .box.book-edit-approved .box-body .box-edit .form-group .list-character span.character i.fa, .box.book-edit-approved .box-body .box-new .form-group .list-character span.character i.fa, .box.author-new .box-body .box-edit .form-group .list-character span.character i.fa, .box.author-new .box-body .box-new .form-group .list-character span.character i.fa, .box.author-edit .box-body .box-edit .form-group .list-character span.character i.fa, .box.author-edit .box-body .box-new .form-group .list-character span.character i.fa, .box.character-new .box-body .box-edit .form-group .list-character span.character i.fa, .box.character-new .box-body .box-new .form-group .list-character span.character i.fa, .box.character-edit .box-body .box-edit .form-group .list-character span.character i.fa, .box.character-edit .box-body .box-new .form-group .list-character span.character i.fa {
        font-size: 12px;
        cursor: pointer; }
.box#box-book-comment .box-body .direct-chat-messages {
  min-height: 494px; }
  .box#box-book-comment .box-body .direct-chat-messages .direct-chat-text {
    background: #3c8dbc;
    border-color: #3c8dbc;
    color: #ffffff;
    float: left;
    margin: 5px 0 0 10px; }
    .box#box-book-comment .box-body .direct-chat-messages .direct-chat-text:before {
      border-right-color: #3c8dbc; }
    .box#box-book-comment .box-body .direct-chat-messages .direct-chat-text:after {
      border-right-color: #3c8dbc; }

.col-mb-5 {
  width: 20%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px;
  float: left; }

.small-box {
  cursor: pointer; }
  .small-box.collapse {
    display: none; }
    .small-box.collapse.in {
      display: block; }
  .small-box .small-box-header {
    text-align: left;
    padding: 3px 10px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1); }
  .small-box .inner h4 {
    font-size: 24px; }
  .small-box .icon {
    top: 15px;
    font-size: 55px; }
  .small-box:hover .icon {
    font-size: 60px; }

p.error {
  color: #d20; }

/*# sourceMappingURL=uploader.css.map */
